<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754896398679-ig6b07bppj1mak3b3qft9930siammu8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754896398679-ig6b07bppj1mak3b3qft9930siammu8f</string>
	<key>API_KEY</key>
	<string>AIzaSyACD0GBWaCqPLHQqoSZ9hscFtJl94jLYJE</string>
	<key>GCM_SENDER_ID</key>
	<string>754896398679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.rtc</string>
	<key>PROJECT_ID</key>
	<string>chat-e9a53</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e9a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754896398679:ios:e5e857a0017b57e2</string>
	<key>DATABASE_URL</key>
	<string>https://chat-e9a53.firebaseio.com</string>
</dict>
</plist>